@use "../abstracts/color";
@use "../abstracts/mixins";

.banner {
    &__inner {
        position: relative;
        background: #0095ff;
        padding: 102px 0;
    }

    &-heading strong {
        background: linear-gradient(97deg, #ff5993 55.54%, #ffcb01 89.47%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-decor1 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &-decor2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.artical {
    padding: 80px 0;
    .container {
        width: 1170px;
    }
    .blog-list {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px 50px;
    }
}

.trending {
    .container {
        width: 1170px;
    }

    &__inner {
        padding: 60px 0;
    }

    &-heading {
        font-size: 6.2rem;
    }

    &-list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        .trending-item {
            display: flex;

            .trending-img {
                width: 186px;
                height: 118px;
                border-radius: 5px;

                img {
                    width: 186px;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .trending-info {
                margin-left: 18px;
                padding: 15px 0;

                .time-read {
                    color: color.$desc-color;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.14; /* 114.286% */
                }

                .title {
                    font-size: 2.4rem;
                    font-weight: 500;
                    line-height: 1.17; /* 116.667% */
                    margin-top: 16px;
                    text-align: unset;
                }
            }
        }
    }
}

.more-content {
    .container {
        width: 1170px;
    }

    &__inner {
        padding: 60px 0;
    }

    &-heading {
        font-size: 6.2rem;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 60px;
    }

    &-item {
        width: 370px;

        &__info {
            margin-top: 24px;

            .title {
                text-align: unset;
                font-size: 2.4rem;
            }

            .desc {
                text-align: unset;
                margin-top: 16px;
            }

            .name {
                color: color.$text-color;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.75; /* 175% */
                margin-left: 12px;
            }
        }
    }

    &-img {
        width: 100%;
        height: 276px;
        border-radius: 10px;
    }

    &-writer {
        @include mixins.flex;
        margin-top: 28px;

        .more-content-avatar {
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }
    }

    &-cta {
        @include mixins.flexCenter;
        margin-top: 80px;

        a {
            min-width: 143px;
            border-radius: 25px;
        }
    }
}
