@use "../abstracts/color";
@use "../abstracts/mixins";

.form-box {
    .sign-in__inner {
        padding: 0 135px;
        display: flex;

        .left-side {
            width: 600px;
            padding: 40px;
            background: #fff;
            border-radius: 20px 0px 0px 20px;
            background: var(--white-white, #fff);
            .logo {
                text-align: center;
                height: 44px;

                img {
                    height: 100%;
                }
            }

            .sign-in-btn {
                position: relative;
                margin: 40px auto 0;
                width: 288px;
                background: #e8e8e8;
                border-radius: 80px;
                overflow: hidden;

                .toggle-btn {
                    position: relative;
                    padding: 12px 42px;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.75; /* 175% */
                    text-align: center;
                    border: 0;
                    outline: none;
                    background: transparent;
                    cursor: pointer;
                }

                #move-button {
                    position: absolute;
                    top: 4px;
                    left: 143px;
                    background: #fff;
                    width: 141px;
                    height: 45px;
                    border-radius: 80px;
                    transition: 0.5s;
                    transform: translateY(-1%);
                }
            }

            .form-social {
                margin-top: 28px;
                @include mixins.flexCenter;
                gap: 24px;

                &-item {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    border: 1px solid #c3c3c3;
                    @include mixins.flexCenter;
                }

                .google {
                    background: transparent;
                }

                .apple {
                    background: #000;
                }

                .facebook {
                    background: #1977f2;
                }
            }

            .form-divine {
                margin-top: 40px;
                @include mixins.flexCenter;
                gap: 17px;

                .form-line {
                    display: inline-block;
                    width: 189px;
                    height: 1px;
                    background: #c3c3c3;
                }

                .continue {
                    width: 109px;
                    color: #5d5d5d;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.57; /* 157.143% */
                }
            }

            .form-input {
                margin-top: 40px;

                .input-box {
                    max-width: 520px;
                    margin: 0 auto;
                    margin-top: 16px;
                    padding: 11px 24px;
                    border-radius: 40px;
                    border: 1px solid #c3c3c3;
                    @include mixins.flex;

                    &:first-child {
                        margin-top: 0;
                    }

                    input {
                        width: 100%;
                        color: #5d5d5d;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.75; /* 175% */
                        border: none;
                        outline: none;
                        padding: 0;

                        &::placeholder {
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.75; /* 175% */
                        }
                    }
                }
            }

            .form-check {
                width: 520px;
                margin-top: 16px;
                @include mixins.flexBetween;

                &-left {
                    @include mixins.flex;

                    label {
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.57; /* 157.143% */
                        margin-left: 8px;
                    }
                }

                &-right {
                    a {
                        color: #0058ff;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.57; /* 157.143% */
                    }
                }
            }

            .form-cta {
                width: 100%;
                margin-top: 20px;

                a {
                    min-width: 520px;
                    border-radius: 25px;
                }
            }
        }

        .right-side {
            position: relative;
            width: 570px;
            border-radius: 0px 20px 20px 0px;
            background: #722fff;
            padding: 88px 48px 89px 36px;

            .form-image {
                width: 244px;
                height: 196px;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                }

                &:nth-child(2) {
                    width: 349px;
                    height: 326px;
                    margin-left: auto;
                    margin-top: 129px;

                    img {
                        border-radius: 12px;
                    }
                }

                &:nth-child(1) {
                    position: absolute;
                    top: 88px;
                    left: 36px;
                }
            }

            &-decor {
                position: absolute;
                top: 126px;
                right: 146px;
            }
        }
    }
}
