@use "../abstracts";
@use "../abstracts/color";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: abstracts.$background-color;
    font-size: 1.6rem;
    font-family: "Switzer", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Switzer", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section-heading {
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.19; /* 119.444% */
    text-align: center;
    color: color.$text-color;
}

.section-desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    text-align: center;
    color: color.$desc-color;
}
